:root{
    --Size: 18px;
    --Color1: #DFD9D9;
    --mainBackgroundColor: #1c5550;
    --Family: 'Inter', sans-serif;
    --yellow: #C3B97F;
    --TextColor: #91B599;
    --MainBorderRadius: 4px;
    --FontSize: 16px;
    --TitleSize: 24px;
    --Button: 14px;
}